In [112]:
import pandas as pd
import numpy as np

2)Just per canton

The data of the swiss cantons is collected from amstat.ch. We used the "taux de chômage" sorted by canton to get our data.

In [74]:
dfCanton=pd.read_excel('rateSuisseCantons.xlsx')
dfCanton.head()

,Canton,Mois,Octobre 2016,Novembre 2016,Décembre 2016,Janvier 2017,Février 2017,Mars 2017,Avril 2017,Mai 2017,Juin 2017,Juillet 2017,Août 2017,Septembre 2017,Total
0,NaN,Mesures,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage
1,Zurich,NaN,3.6,3.7,3.8,3.9,3.9,3.8,3.6,3.5,3.4,3.4,3.4,3.3,3.6
2,Berne,NaN,2.6,2.8,3,3,3,2.9,2.7,2.6,2.4,2.4,2.5,2.4,2.7
3,Lucerne,NaN,1.9,2,2.2,2.2,2.2,2,1.9,1.8,1.7,1.7,1.8,1.7,1.9
4,Uri,NaN,1,1.1,1.3,1.5,1.4,1.3,1.2,1,0.8,0.7,0.6,0.6,1.1

In [75]:
#The data frame looks a bit wierd. We clean it up by removing the first row and second column.
#We can see that the total column is the average af the past year.
#We will use this number to do further analysis since this average eliminates seasonal trends.
dfCanton=dfCanton[['Canton','Total']].iloc[1:]
#Since each canton has an unique name we can index by canton
dfCanton.set_index('Canton',drop=True,inplace=True,verify_integrity=True)
dfCanton['Total']=dfCanton['Total'].astype(float) #Convert to float
dfCanton.head()

         Total
Canton
Zurich     3.6
Berne      2.7
Lucerne    1.9
Uri        1.1
Schwyz     1.8

3) Include the information about suisse and foreign workers

In [104]:
dfCantonForeign=pd.read_excel('rateSuisseForeigners.xlsx')
dfCantonForeign.head()

,Canton,Nationalité,Mois,Octobre 2016,Novembre 2016,Décembre 2016,Janvier 2017,Février 2017,Mars 2017,Avril 2017,Mai 2017,Juin 2017,Juillet 2017,Août 2017,Septembre 2017,Total
0,NaN,NaN,Mesures,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage,Taux de chômage
1,Zurich,Etrangers,NaN,5.8,6.1,6.4,6.6,6.5,6.3,6,5.7,5.6,5.5,5.3,5.3,5.9
2,Zurich,Suisses,NaN,2.8,2.8,2.9,2.9,2.8,2.8,2.7,2.6,2.6,2.6,2.6,2.5,2.7
3,Berne,Etrangers,NaN,6.3,6.9,7.3,7.5,7.4,7.1,6.8,6.2,5.7,5.5,5.5,5.5,6.5
4,Berne,Suisses,NaN,2,2,2.1,2.2,2.1,2.1,2,1.9,1.8,1.8,1.9,1.8,2

In [105]:
#Same process as before but with hierachal index
dfCantonForeign=dfCantonForeign[['Canton','Nationalité','Total']].iloc[1:]
dfCantonForeign.set_index(['Canton','Nationalité'],drop=True,inplace=True,verify_integrity=True)
dfCantonForeign["Total"]=dfCantonForeign["Total"].astype(float)
dfCantonForeign.head()

                     Total
Canton  Nationalité
Zurich  Etrangers      5.9
        Suisses        2.7
Berne   Etrangers      6.5
        Suisses        2.0
Lucerne Etrangers      4.5

In [78]:
#For claas adressing is now easiliy done by
dfCantonForeign.loc[("Zurich","Etrangers")]

Total    5.9
Name: (Zurich, Etrangers), dtype: float64

4) Now also with age categories

In [126]:
#Same
dfCantonAge=pd.read_excel('rateSuisseAge.xlsx')
dfCantonAge.columns.values[1] = 'Agegroup'
dfCantonAge=dfCantonAge[['Canton','Agegroup','Total']].iloc[1:]
for index,agegroup in enumerate(dfCantonAge["Agegroup"]):
    #Remove the ans
    cleaned=str(agegroup).split()[0]
    if cleaned=="60":
        cleaned=cleaned+"+"
    dfCantonAge.iloc[index, dfCantonAge.columns.get_loc('Agegroup')]=cleaned
    

dfCantonAge.set_index(['Canton','Agegroup'],drop=True,inplace=True,verify_integrity=True)
#In the datarame the unkown values are rplaced with ... 
#We replace the ... with NaN
dfCantonAge.replace("...",np.nan,inplace=True)
dfCantonAge["Total"]=dfCantonAge["Total"].astype(float)


dfCantonAge.head(15)

                 Total
Canton Agegroup
Zurich 15-19       3.4
       20-24       3.9
       25-29       4.0
       30-34       4.1
       35-39       4.1
       40-44       3.4
       45-49       3.2
       50-54       3.4
       55-59       3.3
       60+         2.6
Berne  15-19       2.0
       20-24       3.3
       25-29       3.5
       30-34       3.3
       35-39       3.1

In [121]:
test="55-59 ans"
test.split()[0]

'55-59'

In [103]:
dfCantonAge.columns

Index(['Total'], dtype='object')

In [93]:
#Same process
dfCantonAge=dfCantonAge[['Canton','Agegroup','Total']].iloc[1:]
print(dfCantonAge.head())
dfCantonAge.set_index(['Canton','Agegroup'],drop=True,inplace=True,verify_integrity=True)
dfCantonAge["Total"]=dfCantonAge["Total"].astype(float)
dfCantonAge.head()

KeyError: "['Canton' 'Agegroup'] not in index"